*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    border: 1px solid;
}
.nav{
    display: flex;
    justify-content: space-between;
    text-decoration: none;

} 
.a1,.a2,.a3,.a4,.a5,.a6,.a7,.a8,.a9,.a10{
    text-decoration: none;
    font-size: small;
    font-weight: bolder;
    color: black;
    font-family: sans-serif;
    position: relative;
    top: 20px;
    
}
.a1{
    position: relative;
    
    right:70px ;
    border: none;
    width: 60px;
    background:none;
}
.a2{
    position: relative;
    right:120px ;
}
.a3{
    position: relative;
    right:180px ;
}
.a4{
    position: relative;
    right:230px ;
}
.a5{
    position: relative;
    right:280px ;
}
.a6{
    position: relative;
    right:330px ;
}

.a7{
    position: relative;
    left:170px ;
}
.a8{
    position: relative;
    left: 110px;
}
.a9{
    position: relative;
    left:50px ;
}
.a10{
    position: relative;
    right: 20px;
    
}

/* <!-- <----------------FIRST PART FINISH------------------------------->  */
.image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
   
}
span{
    position: relative;
    top: 50px;
    left: 110px;
    

}

.but{
    width:60px;
    border: none;
    height: 40px;
    position: relative;
    left: 600px;
    margin: 1px;
    transition-property: background-color,1s,linear,1s;

}
.but,.but1:hover{
    transform: scale(1.05);
    background: #000;
    color: white;
}
.but1{
    width:60px;
    border: none;
    height: 40px;
    transition-property: background-color,1s,linear,1s;

    position: relative;
    left: 600px;
    margin: 1px;
}
.but2{
    width:60px;
    border: none;
    height: 40px;
    position: relative;
    left: 600px;
    margin: 1px;
    transition-property: background-color,1s,linear,1s;

}
.but2:hover{
    transform: scale(1.05);
    background: #000;
    color: white;
}
.but3{
    width:60px;
    border: none;
    height: 40px;
    position: relative;
    left: 600px;
    margin: 1px;
    transition-property: background-color,1s,linear,1s;

}
.but3:hover{
    transform: scale(1.05);
    background: #000;
    color: white;
}
.but4{
    width:60px;
    border: none;
    height: 40px;
    position: relative;
    left: 600px;
    margin: 1px;
    transition-property: background-color,1s,linear,1s;

}
.but4:hover{
    transform: scale(1.05);
    background: #000;
    color: white;
}
.butt{
    position: relative;
    bottom: 250px;
}
.d1{
    font-size:larger;
}
.d2{
font-size: large;
font-weight: lighter;
color: gray;
}

.d3{
font-size: 17px;
font-weight: bolder;
}
.dd1{
    transition-property:all,2s,linear,2s ;
}
.dd1:hover{
transform: scale(1.09);
}
.w1{
    background: rgb(252, 252, 252 ,0.9);
    
}
.foot{
    background-color:rgb(206, 204, 204);
    position: relative;
    bottom: 50px;
    height: 350px;
}
.create{
  background-color:rgb(252, 252, 252,0.9);
}
li{
  padding: 3px;
}
 